.idea
pkg/
bin/
src/server/token/bytes.txt
src/client-bu
src/client/node_modules
src/client/package-lock.json
src/client/src/build
src/server/database/simons-portfolio-2add992d213c.json
src/next-client/node_modules
src/next-client/package-lock.json
src/next-client/.next
.main.go.swp
